body {
    font-family: roboto, sans-serif;
    color: var(--primiry-text-color);
    font-size: 14px;
    background: var(--hero-color);
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.conteiner {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.conteiner-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.section {
    background: var(--hero-color);
    padding-top: 94px;
    padding-bottom: 94px;
    margin: auto;
}