.footer {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }
  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 1200px;
  // }

  &--black {
    background: var(--background-black);
  }
}
