.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  &--black {
    color: var(--primiry-text-color);
  }
  &--white {
    color: var(--hero-color);
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
}
