.nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.menu-button {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  z-index: 4;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu {
  fill: #212121;

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.icon-cross {
  fill: #212121;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-conteiner {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 48px 40px;
    z-index: 3;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.menu-conteiner.is-open .logo-none {
  display: none;
}

.nav__list {
  @media screen and(max-width: 767px) {
    align-items: center;
    margin-bottom: 305px;
    & .nav__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-right: 80px;
    & .nav__item:not(:last-child) {
      margin-right: 32px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  letter-spacing: 0.02em;
  @media screen and(max-width: 767px) {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primiry-text-color);
  }
  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 20px;
    padding-bottom: 28px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 33px;
    padding-bottom: 35px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);
  }
  @media screen and(min-width: 768px) {
    &--current::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      display: inline-block;

      width: 100%;
      height: 4px;

      background: #2196f3;
      border-radius: 2px;
    }
  }
}

.contact {
  @media screen and(max-width: 767px) {
    margin-bottom: 64px;
    & .contact__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and(min-width: 1200px) {
    flex-direction: row-reverse;
    margin: auto;
    margin-right: 0;
    align-items: center;
    & .contact__item:not(:last-child) {
      margin-left: 30px;
    }
    // justify-content: baseline;
  }
}

.contact__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-color);
  letter-spacing: 0.02em;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @media screen and(max-width: 767px) {
    font-size: 24px;
    line-height: 1.16;

    &.tel--blue {
      font-size: 34px;
      color: #2196f3;
    }
  }
  @media screen and(min-width: 768px) {
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @media screen and(min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
  }
}

.contact__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
  fill: var(--text-color);

  .contact__link:hover &,
  .contact__link:focus & {
    fill: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

@media screen and(max-width:767px) {
  .menu-social {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;

    &__list:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }

    &__list:not(:first-child) {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-social {
    display: none;
  }
}
